* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: white;
  font-family: sans-serif;
}

body {
  background: #111;
  padding: 1rem;
}

main {
  display: grid;
  gap: 1rem;
}

@media (width >= 500px) {
  main {
    grid-template-columns: minmax(30ch, auto) 1fr;
  }
}

.episodes ol {
  list-style: none;
}

.episodes li {
  padding: 0.5rem;
}

.episodes li:hover,
.episodes li.selected {
  background: #333;
  cursor: pointer;
}

.episodes li:not(:last-child) {
  border-bottom: 1px solid #333;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 1ch;
}

button {
  padding: 0.25rem 0.5rem;
}
